.informative-teaser {
  padding: 60px 0;

  .item {
    cursor: unset;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    border-radius: 20px;
    background-color: $color-white;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    h3 {
      @include font-light;
      margin-bottom: 20px;
      color: $color-purple;
      font-size: 15px;
      line-height: 1.2;
      text-transform: uppercase;
    }

    p {
      @include font-light;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 1.2;
    }

    &:hover {
      background-color: lighten($color-purple, 20%);
      transition-timing-function: ease-in;
    }
  }
}
