.o-footer {
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);

  @media all and (min-width: 768px) {
    margin-top: 60px;
  }

  @media all and (min-width: 1024px) {
    margin-top: 80px;
  }

  &__logo {
    img {
      height: 95px;
    }
  }

  &__menu {
    .title {
      @include font-bold;
      margin-bottom: 30px;
      font-size: 27px;
    }

    ul {
      li {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0px;
        }

        a {
          @include font-light;
          font-size: 22px;
          line-height: 1.2;
        }
      }
    }
  }
}
