$screen-sm: 512px;
$screen-md: 768px;
$screen-lg: 1024px;

$color-black: #000000;
$color-white: #FFFFFF;

$color-green: #26B99A;
$color-blue: #52B2D1;
$color-purple: #7383BF;
$color-green-dark: #274191;

$color-danger: #E72D41;

$color-text: #2f2f2e;
$color-link: #52B2D1;

$color-error: $color-danger;

$font: 'Montserrat', sans-serif;

$font-paragraph-size: 16px;

$max-width-for-titles: 900px;
