$screen-sm: 512px;
$screen-md: 768px;
$screen-lg: 1024px;

$color-black: #000000;
$color-white: #FFFFFF;

$color-primary: #4D6FB3;
$color-primary-light: #6BACDF;
$color-primary-dark: #274191;

$color-danger: #E72D41;

$color-text: #2f2f2e;

$color-link: $color-primary;
$color-error: $color-danger;

$font: 'Montserrat', sans-serif;

$font-paragraph-size: 16px;
