.contact-section {
  padding: 110px 0 90px;

  &__contact-reasons {
    max-width: 780px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    li {
      text-align: center;

      span {
        @include font-light;
        padding: 15px 22px;
        border-radius: 30px;
        color: $color-text;
        font-size: 24px;
        cursor: pointer;

        &.is-active {
          @include font-regular;
          background-color: $color-purple;
          color: $color-white;
        }
      }
    }
  }

  &__description {
    @include font-light;
    max-width: 1050px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
}
