.hero-feature {
  position: relative;
  margin-bottom: 80px;
  padding: 70px 0 175px;
  background-image: url(../images/bg_hero_feature.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  text-align: center;

  @media all and (min-width: $screen-md) {
    padding-bottom: 350px;
  }

  @media all and (min-width: $screen-lg) {
    padding-bottom: 625px;
  }

  &__title {
    font-size: 40px;
    line-height: 1.2;

    @media all and (min-width: $screen-md) {
      font-size: 50px;
    }

    @media all and (min-width: $screen-lg) {
      font-size: 70px;
    }
  }

  &__subtitle {
    @include font-light;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.2;
  }

  &__cta {
    margin-top: 30px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .a-scroll-indicator {
    @media all and (max-width: $screen-md) {
      bottom: -50px;
    }
  }
}
