.p-home-page {
  &__header {
    position: relative;
    margin-bottom: 80px;
    padding: 70px 0 625px;
    background-image: url(../images/bg-header-homepage.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-white;
    text-align: center;

    h1 {
      font-size: 70px;
      line-height: 1.2;
    }

    h2 {
      @include font-light;
      margin-top: 15px;
      font-size: 14px;
      line-height: 1.2;
    }

    .container-button {
      margin-top: 30px;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .scroll-indicator {
      position: absolute;
      bottom: -10px;
      left: calc(50% - 10px);

      &:before {
        content: '';
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-color: $color-blue;
        border-style: solid;
        border-width: 5px 5px 0 0;
        transform: rotate(135deg);
        vertical-align: top;
      }
    }
  }

  &__features {
    .item {
      cursor: unset;
      max-width: 300px;
      padding: 25px;
      border-radius: 20px;
      background-color: $color-white;
      transition-property: background-color;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;

      h3 {
        @include font-light;
        margin-bottom: 20px;
        color: $color-purple;
        font-size: 15px;
        line-height: 1.2;
        text-transform: uppercase;
      }

      p {
        @include font-light;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 1.2;
      }

      &:hover {
        background-color: lighten($color-purple, 20%);
        transition-timing-function: ease-in;
      }
    }
  }

  &__content {
    margin-top: 80px;
    padding-bottom: 10px;

    .title,
    .subtitle {
      line-height: 1.2;
      text-align: center;
    }

    .title {
      margin-bottom: 0;
      color: $color-purple;
      font-size: 50px;
    }

    .subtitle {
      @include font-light;
      margin-top: 10px;
      font-size: 15px;
    }

    .container-items {
      margin-top: 60px;
      background-image: url(../images/pattern-cloud.svg);
      background-repeat: no-repeat;

      .col {
        &:nth-child(n+2) {
          margin-top: 20px;
          
          @media all and (min-width: 768px) {
            margin-top: 0;
          }
        }
  
        @media all and (min-width: 768px) {
          &:nth-child(n+3) {
            margin-top: 30px;
  
            @media all and (min-width: 1024px) {
              margin-top: 0;
            }
          }
  
        }
  
        @media all and (min-width: 1024px) {
          &:nth-child(n+4) {
            margin-top: 40px;
          }
  
        }
      }
  
      .item {
        padding: 60px 30px;
        border-bottom: 25px solid $color-blue;
        border-radius: 25px;
        background-color: $color-white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-align: center;
  
        img {
          height: 60px;
        }
  
        h3 {
          margin-top: 20px;
          font-size: 30px;
          line-height: 1.2;
        }
  
        p {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 20px;
        }
      }
    }
  }
}
