.cta {
  padding: 40px 0;
  text-align: center;

  &__link {
    font-size: 20px;
    line-height: 1.7;

    @media all and (min-width: $screen-md) {
      font-size: 25px;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-left: 12px;
    }
  }
}
